# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
web/node_modules
admin/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
web/coverage
admin/coverage

# next.js
web/.next/
web/out/
admin/.next/
admin/out/

# production
web/build
admin/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
web/.env*
admin/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
web/next-env.d.ts
admin/next-env.d.ts

public